{% extends 'base.html' %} {% load static %} {% block content %}

<!--Main layout-->
<main>
  <div class="container">
    <!--Navbar-->
    <div
      class="navbar navbar-expand-lg navbar-dark mdb-color lighten-3 mt-3 mb-5"
    >
      <!-- Navbar brand -->
      <span class="navbar-brand"></span>

      <!-- Collapse button -->
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#basicExampleNav"
        aria-controls="basicExampleNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <i class="fas fa-filter"></i></span>
      </button>

      <!-- Collapsible content -->
      <div class="collapse navbar-collapse" id="basicExampleNav">
        <form method="GET">
          <div class="form-row align-items-center">
            <div class="col-auto">{{myFilter.form.name}}</div>

            <div class="col-auto">{{myFilter.form.categories}}</div>

            <div class="col">
              <button class="btn btn-info btn-sm" type="submit">
                <span class="d-none d-sm-inline-block"> Filter </span>
              </button>
            </div>
          </div>
        </form>
      </div>
      <!-- Collapsible content -->
    </div>
    <!--/.Navbar-->

    <!--Section: Products-->
    {% block products %} {% endblock %}
    <!--Section: Products-->

    
  </div>
</main>
<!--Main layout-->
{% endblock %}
