{% extends 'base.html' %} {% load static %} {% block content %}
<main class="mt-5 pt-4">
  <div class="container wow fadeIn">
    <h1>Order Summary</h1>
    <div class="table-responsive text-nowrap">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Price</th>
            <th scope="col">Quantity</th>
            <th scope="col">Total Item Price</th>

          </tr>
        </thead>
        <tbody>
          {% for item in items %}
          <tr>
            <th scope="row">1</th>
            <td>{{ item.item.name }}</td>
            <td>{{ item.item.price }}</td>
            <td>{{ item.quantity }}</td>
            <td>{{ item.total_item_price }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</main>
{% endblock %}
